<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WATEM</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@400;500&family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
  
<!-- 상단바 부분 -->
  
   <!-- navbar-expand-lg는 화면이 큰 랩탑 사이즈 이상에서 네비게이션 바 요소를 확장하도록 지정하며, bg-light는 네비게이션 바의 배경색을 밝은 색상으로 설정 -->
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" style="padding: 12px 12px; font-family: 'Do Hyeon', sans-serif;">
        <div class="container-fluid">
          
           <!-- 아래 태그는 네비게이션 바 좌측에 표시되는 로고 또는 브랜드 이름을 나타내는 요소 -->
            <a class="navbar-brand" href="/templates/main.html" style="font-size: 45px;">WATEM</a> <!-- 현재 링크 비어있음 -->
            
            <!-- 작은 화면에서 햄버거 아이콘과 같이 네비게이션 바 메뉴를 토글할 수 있는 버튼, data-bs-toggle="collapse" 속성을 사용하여 클릭하면 네비게이션 바 메뉴가 보이거나 숨겨짐 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> <!-- 버튼 반응하는 js 파일 찾아야함 -->
            
            <!-- 네비게이션 바 메뉴의 컨테이너, 이 부분은 햄버거 버튼을 누를 때 메뉴의 축소 및 확장을 제어 -->
            <div class="collapse navbar-collapse" id="navbarColor03">
               
               <!-- 네비게이션 바 메뉴 항목들을 감싸는 순서 없는 목록 요소, me-auto 클래스는 항목들을 오른쪽으로 정렬하는 Bootstrap 클래스 -->
                <ul class="navbar-nav ms-auto">
                   
                   <!-- 각 네비게이션 바 메뉴 항목을 감싸는 리스트 아이템 요소 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/map.html"><img src="/img/mapIcon.png" width="50px"></a> <!-- 지도 메뉴 -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/memo/list.html"><img src="/img/memoIcon.png" width="50px"></a> <!-- 메모 메뉴 -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="/img/userIcon.png" width="50px"></a> <!-- 로그인/회원가입, 마이페이지 통합메뉴 -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <br><br>
    
<!-- 내용 부분 -->

    <div class="card mb-3 mx-auto" style=" width: 95%; font-family: 'Noto Sans KR', sans-serif;">
        <div class="card-body mx-auto" style="width: 80%">
         <form style="font-family: 'Do Hyeon', sans-serif; font-size: 20px;">
          <fieldset>
            <legend style="font-size: 34px;">마이페이지</legend>
            <label for="exampleInputId" class="form-label mt-4">아이디</label>
            <div class="input-group mb-3">
                <!--<input type="text" class="form-control" placeholder="ID" aria-label="Recipient's id" aria-describedby="button-id">-->
            <ul class="list-group list-group-flushs mx-auto" style="width: 100%">
                <li class="list-group-item" style="height: 40px; font-family: 'Noto Sans KR', sans-serif; font-size: 15px;">아이디 데이터 가져올곳</li>
            </ul>
            </div>
            <label for="exampleInputNickname" class="form-label mt-4">닉네임</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nickname" aria-label="Recipient's nickname" aria-describedby="button-name">
                <button class="btn btn-primary" type="button" id="button-name">확인</button>
            </div>            
<!--
            <div class="form-group">
             <label for="exampleInput" class="form-label mt-4">비밀번호</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="password" aria-label="Recipient's password" aria-describedby="button-password">
                <button class="btn btn-primary" type="button" id="button-password">재설정</button>
            </div>
            </div>           
-->
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">  
            </div>
            <div class="form-group">
              <label for="exampleInputPn" class="form-label mt-4">전화번호</label>
              <input type="tel" class="form-control" id="exampleInputPn">
            </div>
            <div class="form-group" >
              <label for="exampleSelect1" class="form-label mt-4">거주지역</label>
              <select class="form-select" id="exampleSelect1" style="font-family: 'Noto Sans KR', sans-serif;">
                <option>서울</option>
                <option>경기</option>
                <option>강원</option>
                <option>충청</option>
                <option>전라</option>
                <option>경상</option>
                <option>전라</option>
                <option>제주</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputDate" class="form-label mt-4">생년월일</label>
            <ul class="list-group list-group-flushs mx-auto" style="width: 100%">
                <li class="list-group-item" style="height: 40px; font-family: 'Noto Sans KR', sans-serif; font-size: 15px;">생년월일 데이터 가져올곳</li>
            </ul>
            </div>
            <fieldset class="form-group">
              <legend class="mt-4">성별</legend>
            <ul class="list-group list-group-flushs mx-auto" style="width: 100%">
                <li class="list-group-item" style="height: 40px; font-family: 'Noto Sans KR', sans-serif; font-size: 15px;">성별 데이터 가져올곳</li>
            </ul>
            </fieldset>
            <br>
            <button type="submit" class="btn btn-primary" style="float: right;">수정</button>
          </fieldset>
          <br><br>
        </form>
        </div>
    </div>
    
<!-- 푸터 영역 -->
    
  <footer class="footer mx-auto" style="width: 95%; text-align: right;">
          <a href="#top">Back to top</a>
      <figure class="text-center">
          <blockquote class="blockquote">
              <p class="mb-0">WATEM</p>
          </blockquote>
          <figcaption class="blockquote-footer">
              <p><a href="https://github.com/우리 프젝 링크?"><img src="/img/githubIcon.png" width="30px"><br>project GitHub</a></p> <!-- 링크 걸어야함 -->
              <p>Icons <a href="https://www.flaticon.com/kr/free-icons/" title="icons">Freepik(map), Pixel perfect(memo), Digby Garrett(user)</a> from Flaticon</p>
              
          </figcaption>
      </figure>
  </footer>



</body>
</html>