<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WATEM : 메모</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@400;500&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <style th:inline="css">
        .dropdown-menu {
            right: 0;
            top: 60px;
        }
        .dropdown-menu a {
            display: block;
        }
        .dropdown-menu a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-menu {display: block;}

        /* 드롭다운 메뉴가 나타날 때 네비게이션 바가 밀리는 현상을 방지 */
        .navbar-nav {
            position: relative;
        }

        .navbar-nav .dropdown-menu {
            position: absolute;
            right: 0;
            z-index: 1000;
        }
    </style>

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script th:inline="javascript">
        // Controller에서 받은 세션에 저장된 값
        const SS_ID = [[${session.SS_ID}]];

        // 메모 작성자 아이디
        const id = [[${rDTO.id}]];

        // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함
        const num = [[${rDTO.num}]];

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {
            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnEdit").on("click", function () {
                doEdit(); // 메모 수정하기 실행
            })

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnDelete").on("click", function () {
                doDelete(); // 메모 삭제하기 실행
            })

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnList").on("click", function () {
                location.href = "/memo/list"; // 메모 리스트 이동
            })
        })

        //수정하기
        function doEdit() {
            if (SS_ID === id) {
                location.href = "/memo/up?num=" + num;

            } else if (SS_ID === "") {
                alert("로그인 하시길 바랍니다.");

            } else {
                alert("본인이 작성한 메모만 수정 가능합니다.");

            }
        }

        //삭제하기
        function doDelete() {
            if (SS_ID === id) {
                if (confirm("작성한 메모를 삭제하시겠습니까?")) {
                    location.href = "/memo/memoDelete?num=" + num;
                }

            } else if (SS_ID === "") {
                alert("로그인 하시길 바랍니다.");

            } else {
                alert("본인이 작성한 메모만 삭제 가능합니다.");
            }
        }

        /* back to top 클릭시 주소창에 #top 추가 안되게 함*/
        document.addEventListener("DOMContentLoaded", function () {
            var topLink = document.querySelector('a[href="#top"]');
            topLink.addEventListener("click", function (event) {
                event.preventDefault();
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            });
        });
    </script>
</head>
<body>
<!-- 메모 상세보기 페이지 -->

    <!-- 상단바 부분 -->
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" style="padding: 12px 12px; font-family: 'Do Hyeon', sans-serif;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- 로고 또는 브랜드 이름 -->
            <a class="navbar-brand" href="/main" style="font-size: 45px;">WATEM</a>

            <ul class="navbar-nav ms-auto d-flex flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/map" style="margin: 5px"><img src="/img/mapIcon.png" width="50px"></a> <!-- 지도 메뉴 -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/memo/list" style="margin: 5px"><img src="/img/memoIcon.png" width="50px"></a> <!-- 메모 메뉴 -->
                </li>
                <div th:if="${session.SS_ID == null}"> <!-- 로그인 정보가 없을시 로그인 버튼만 활성화 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login" style="margin: 5px"><img src="/img/userIcon.png" width="50px"></a> <!-- 로그인 메뉴 -->
                    </li>
                </div>
                <div th:if="${session.SS_ID != null}"> <!-- 로그인 정보가 있을시 드롭다운 메뉴 활성화 -->
                    <li class="nav-item dropdown"> <!-- 드롭다운 유저 메뉴 -->
                        <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 5px"><img src="/img/userIcon.png" width="50px"></div>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/user/mypage">마이페이지</a> <!-- 드롭다운 서브메뉴 : 마이페이지 메뉴 -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout.do">로그아웃</a> <!-- 드롭다운 서브메뉴 : 로그아웃 메뉴 -->
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    
    <br><br>
    
    <!-- 내용 부분 -->
    <div class="card mb-3 mx-auto" style=" width: 95%; font-family: 'Noto Sans KR', sans-serif;">
        <div class="card-body">
            <div class="card mb-3">
                <!-- 타이틀 출력 -->
                <h3 class="card-header" style="font-family: 'Do Hyeon', sans-serif;">[[${rDTO.title}]]</h3>
                <div class="card-body">
                    <!-- 지도 데이터상 지역 출력 -->
                    <h5 class="card-title" style="font-family: 'Do Hyeon', sans-serif; text-align: right">지역 : [[${aDTO.mloc}]]</h5>
                    <!-- 닉네임 출력 -->
                    <h6 class="card-subtitle text-muted" style="font-family: 'Do Hyeon', sans-serif; text-align: right">작성자 : [[${rDTO.nick}]]</h6>
                </div>
                <!-- 지도 데이터 출력 -->
<!--                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="600" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">-->
<!--&lt;!&ndash;                    <rect width="100%" height="100%" fill="#868e96"></rect>&ndash;&gt;-->
<!--                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">[[${rDTO.map}]]</text>-->
                    <div id="staticMap" style="width: 100%; height: 600px;">
                        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9f7b1b926be42fe85ba854921b7d037e"></script>
                        <script>
                            var markerPosition  = new kakao.maps.LatLng([[${aDTO.lat}]], [[${aDTO.lng}]]);

                            // 이미지 지도에 표시할 마커입니다
                            // 이미지 지도에 표시할 마커는 Object 형태입니다
                            var marker = {
                                position: markerPosition
                            };

                            var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
                                staticMapOption = {
                                    center: new kakao.maps.LatLng([[${aDTO.lat}]], [[${aDTO.lng}]]), // 이미지 지도의 중심좌표
                                    level: [[${aDTO.level}]], // 이미지 지도의 확대 레벨
                                    marker: marker // 이미지 지도에 표시할 마커
                                };

                            // 이미지 지도를 생성합니다
                            var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
                        </script>
                    </div>
<!--                </svg>-->
                <!-- 내용 출력 -->
                <div class="card-body" style="height: 400px;">
                    [[${rDTO.contents}]]
                </div>
                <!-- 작성일자 출력 -->
                <div class="card-footer text-muted">
                    [[${rDTO.dt}]]
                </div>
            </div>
        </div>

        <!-- 버튼 영역 -->
        <div class="ms-auto" style="padding: 0 20px;">
            <button id="btnEdit" type="button" class="btn btn-outline-dark">수정</button>
            <button id="btnDelete" type="button" class="btn btn-outline-dark">삭제</button>
            <button id="btnList" type="button" class="btn btn-outline-dark">목록</button>
        </div>
        <br>
    </div>

    <!-- 푸터 부분 -->
    <footer class="footer mx-auto" style="width: 95%; text-align: right;">
        <a href="#top">Back to top</a>

        <figure class="text-center">
            <!-- 로고 출력 영역 -->
            <blockquote class="blockquote">
                <p class="mb-0">WATEM</p>
            </blockquote>

            <figcaption class="blockquote-footer">
                <!-- 깃허브 연결 영역 -->
                <p><a href="https://github.com/donguk1/water"><img src="/img/githubIcon.png" width="30px"><br>project GitHub</a></p>
                <!-- 아이콘에 대한 출처를 표시 -->
                <p>Icons <a href="https://www.flaticon.com/kr/free-icons/" title="icons">Freepik(map), Pixel perfect(memo), Digby Garrett(user)</a> from Flaticon</p>
            </figcaption>
        </figure>
    </footer>

</body>
</html>