<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IMapMapper">
    <insert id="insertMapData" parameterType="MapDTO">
        INSERT INTO MAP (LAT, LNG, LEVEL, MLOC)
        VALUES (#{lat}, #{lng}, #{level}, #{mloc})
    </insert>


</mapper>