<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IMemoMapper">

    <resultMap id="MemoResultMap" type="kopo.poly.dto.MemoDTO">
        <id property="num" column="NUM"/>
        <result property="id" column="ID"/>
        <result property="title" column="TITLE"/>
        <result property="mloc" column="MLOC"/>
        <result property="nick" column="NICK"/>
        <result property="contents" column="CONTENTS"/>
        <result property="dt" column="DT"/>
        <association property="mapDTO" resultMap="MapDTOResultMap"/>
    </resultMap>

    <resultMap id="MapDTOResultMap" type="kopo.poly.dto.MapDTO">
        <result property="lat" column="LAT"/>
        <result property="lng" column="LNG"/>
        <result property="level" column="LEVEL"/>
        <result property="mloc" column="MLOC"/>
    </resultMap>

    <!--  메모 리스트  -->
    <select id="getMemoList" resultType="MemoDTO">
        SELECT NUM,
               TITLE,
               NICK,
               TO_CHAR(DT, 'YYYY-MM-DD') AS DT,
               MLOC
        FROM MEMO
        ORDER BY NUM DESC
    </select>

    <!--  메모 검색 리스트(수정필요)  -->
    <select id="searchMemoList" resultType="MemoDTO" parameterType="MemoDTO">
        SELECT NUM,
               TITLE,
               NICK,
               TO_CHAR(DT, 'YYYY-MM-DD') AS DT,
               MLOC
        FROM MEMO
            WHERE ${type} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY NUM DESC
    </select>

    <!--  메모 등록  -->
    <insert id="insertMemoInfo" parameterType="MemoDTO">
        INSERT INTO MEMO
        (
         ID,
         TITLE,
         MLOC,
         NICK,
         CONTENTS,
         DT
        )
        VALUES
        (
         #{id},
         #{title},
         #{mloc},
         #{nick},
         #{contents},
         SYSDATE()
        )
    </insert>

    <!--  메모 상세보기  -->
    <select id="getMemoInfo" resultMap="MemoResultMap">
        SELECT
            M.NUM,
            M.ID,
            M.TITLE,
            M.MLOC,
            M.NICK,
            M.CONTENTS,
            TO_CHAR(M.DT, 'YYYY-MM-DD') AS DT,
            MA.LAT,
            MA.LNG,
            MA.LEVEL
        FROM
            MEMO M
                JOIN
            MAP MA ON M.NUM = MA.NUM
        WHERE
            M.NUM = #{num};
    </select>

    <select id="getLatLng" resultType="MapDTO">
        SELECT
            LAT,
            LNG,
            LEVEL,
            MLOC
        FROM
            MAP
        WHERE
            NUM = #{num}
    </select>

    <!--  메모 수정  -->
    <update id="updateMemoInfo" parameterType="MemoDTO">
        UPDATE MEMO
        SET TITLE     = #{title},
            MAP       = #{map},
            CONTENTS  = #{contents}
        WHERE NUM = #{num}
    </update>

    <!--  메모 삭제  -->
    <delete id="deleteMemoInfo" parameterType="MemoDTO">
        DELETE FROM MEMO
        WHERE NUM = #{num}
    </delete>




</mapper>