<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IMemoMapper">

    <!--  메모 리스트  -->
    <select id="getMemoList" resultType="MemoDTO">
        SELECT NUM,
               TITLE,
               NICK,
               TO_CHAR(DT, 'YYYY-MM-DD') AS DT,
               MLOC
        FROM MEMO
        ORDER BY NUM DESC
    </select>

    <!--  메모 검색 리스트(수정필요)  -->
    <select id="searchMemoList" resultType="MemoDTO" parameterType="MemoDTO">
        SELECT NUM,
               TITLE,
               NICK,
               TO_CHAR(DT, 'YYYY-MM-DD') AS DT,
               MLOC
        FROM MEMO
            WHERE ${type} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY NUM DESC
    </select>

    <!--  메모 등록  -->
    <insert id="insertMemoInfo" parameterType="MemoDTO">
        INSERT INTO MEMO
        (
         ID,
         TITLE,
         MLOC,
         NICK,
         MAP,
         CONTENTS,
         DT
        )
        VALUES
        (
         #{id},
         #{title},
         #{mloc},
         #{nick},
         #{map},
         #{contents},
         SYSDATE()
        )
    </insert>

    <!--  메모 상세보기  -->
    <select id="getMemoInfo" resultType="MemoDTO">
        SELECT
            NUM,
            ID,
            TITLE,
            MLOC,
            NICK,
            MAP,
            CONTENTS,
            TO_CHAR(DT, 'YYYY-MM-DD') AS DT
        FROM MEMO
        WHERE NUM = #{num}
    </select>

    <!--  메모 수정  -->
    <update id="updateMemoInfo" parameterType="MemoDTO">
        UPDATE MEMO
        SET TITLE     = #{title},
            MLOC      = #{mloc},
            MAP       = #{map},
            CONTENTS  = #{contents}
        WHERE NUM = #{num}
    </update>

    <!--  메모 삭제  -->
    <delete id="deleteMemoInfo" parameterType="MemoDTO">
        DELETE FROM MEMO
        WHERE NUM = #{num}
    </delete>



</mapper>