<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IUserMapper">

    <!-- 회원 가입하기(회원정보 등록하기) -->
    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO USER
        (
         ID,
         NICK,
         PW,
         EMAIL,
         PN,
         ULOC,
         BIRTH,
         GENDER
         )

        VALUES
        (
            #{id},
            #{nick},
            #{pw},
            #{email},
            #{pn},
            #{uloc},
            #{birth},
            #{gender}
        )
    </insert>

    <!--  로그인  -->
    <select id="getLogin" parameterType="UserDTO" resultType="UserDTO">
        SELECT ID, NICK, EMAIL
        FROM USER
        WHERE ID = #{id}
          AND   PW = #{pw}
    </select>

    <!-- 아이디 중복체크하기 (DB 조회하기) -->
    <select id="getUserIdExists" parameterType="UserDTO" resultType="UserDTO">
        SELECT CASE WHEN COUNT(1) = 0 THEN 'N'
                    ELSE 'Y' END AS EXISTS_YN
        FROM USER
        WHERE ID = #{id};
    </select>

    <!-- 닉네임 중복체크하기 (DB 조회하기) -->
    <select id="getUserNickExists" parameterType="UserDTO" resultType="UserDTO">
        SELECT CASE WHEN COUNT(1) = 0 THEN 'N'
                    ELSE 'Y' END AS EXISTS_YN
        FROM USER
        WHERE NICK = #{nick};
    </select>

    <!--  회원정보 표시(패스워드 미표시)  -->
    <select id="selectUser" parameterType="UserDTO" resultType="UserDTO">
        SELECT
            ID,
            NICK,
            EMAIL,
            PN,
            ULOC,
            BIRTH,
            GENDER
        FROM USER
        WHERE ID = #{id}
    </select>

    <!--  회원정보 수정(업데이트)  -->
    <update id="updateUser" parameterType="UserDTO">
        UPDATE USER
        SET
            NICK = #{nick},
            EMAIL = #{email},
            PN = #{pn},
            ULOC = #{uloc}
        WHERE ID = #{id}
    </update>

    <!--  비밀번호 재설정 로직(맞는지 확인 필요)  -->
    <update id="updatePw" parameterType="UserDTO">
        UPDATE USER
        SET PW = #{pw}
        WHERE ID = #{id}
    </update>




</mapper>